In [4]:
# 01 Try to extract data from index 1 to index 300 with a jump of 3

In [5]:
s = "this is My First Python programming class and i am learNING python string and its function"

In [6]:
s[1:300:3]

'h   r tnrrmglsnimeNGyosi dtfco'

In [7]:
# 02 Try to reverse a string without using reverse function

In [8]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [9]:
'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

'noitcnuf sti dna gnirts nohtyp GNINrael ma i dna ssalc gnimmargorp nohtyP tsriF yM si siht'

In [10]:
# 03 Try to split a string after conversion of entire string in uppercase

In [11]:
s1 = s.upper()
s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTHON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [12]:
# 04 Try to convert the whole string into lower case

In [13]:
s.lower()

'this is my first python programming class and i am learning python string and its function'

In [14]:
# 05 the Try to capitalize the whole string

In [15]:
s.capitalize()

'This is my first python programming class and i am learning python string and its function'

In [16]:
# 06 Write the difference between isalnum() and isalpha()

In [17]:
# isalnum() - This function checks that if all the charecters in the string are alphanumeric if yes it prints True else it prints False.
# Note - Spaces in between alphanumeric charecters cause the output of the code to be False.

# isalpha() - This function cheks that if all the charecters in the string are alphabets if yes it prints True else it prints False.
# Note - Spaces in between alphabet charecters cause the output of the code to be False.

In [18]:
# 07 Try to give an example of expand tab

In [19]:
# Example of expand tab function

s2 = "Hii\tthere\tmy\tname\tis\tshweta,\tnice\tto\tmeet\tyou\tonkar!!"

s2.expandtabs()  # By default it is 8 spaces per tab.

'Hii     there   my      name    is      shweta, nice    to      meet    you     onkar!!'

In [20]:
# But we can change it to our preference, for example -

s2.expandtabs(20)

'Hii                 there               my                  name                is                  shweta,             nice                to                  meet                you                 onkar!!'

In [21]:
# 08 Give an example of strip, lstrip and rstrip.

In [22]:
# 1 - Example of strip:

a = "@@@2@Heyy!! Onkar@2@@@"

a.strip("@2")  # Removes all @2 from both the sides

'Heyy!! Onkar'

In [23]:
# 2 - Example of lstrip:

a1 = "@@@22@Heyy!! Onkar@2@@@"

a1.lstrip("@2")  # Removes all @2 only from the left side

'Heyy!! Onkar@2@@@'

In [24]:
# 09 Replace a string charecter by another charecter by taking your own example "your name"

In [25]:
name = "Shweta"

name.replace("Shweta", "Onkar")

'Onkar'

In [26]:
name.replace("Shw","Onk")

'Onketa'

In [27]:
# 10 Try to give a definition of string center function with an example.

In [28]:
# Definition:

# center() function is used to align the string in to the centre by adding Specified characters in both the sides of the string or with space by default,
# then the string will have specified width  and if the total width is greater than the length of the string, the extra characters will be added equally 
# to both sides (or with one extra on either sides if the width is an odd number or string has odd number of charecters).

In [29]:
# Example:

b = "Shweta"

b.center(130,"*")

'**************************************************************Shweta**************************************************************'

In [30]:
b.center(120,"*")

'*********************************************************Shweta*********************************************************'